<div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form" [formGroup]="spendingForm" (ngSubmit)="onSubmit()" #spendForm="ngForm">
          <div class="mb-3">
            <label for="amount" class="form-label">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.AMOUNT_LABEL' | translate }}
            </label>
            <input
              id="amount"
              class="form-control"
              [ngClass]="{ 'is-invalid': (amount.touched || spendForm.submitted) && (amount.errors?.required)}"
              type="text"
              placeholder="10000"
              formControlName="amount"
              required
            />
            <div class="text-danger" *ngIf="(amount.touched || spendForm.submitted) && (amount.errors?.required)">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.ERRORS.AMOUNT_REQUIRED' | translate }}
            </div>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.TYPE_LABEL' | translate }}
            </label>
            <select 
              id="type"
              class="form-control"
              formControlName="type"
              [ngClass]="{ 'is-invalid': (type.touched || spendForm.submitted) && (type.errors?.required)}">
                <option *ngFor="let option of typeOptions" [value]="option">
                  {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.OPTIONS.' + option | uppercase | translate }}
                </option>
            </select>
            <div class="text-danger" *ngIf="(type.touched || spendForm.submitted) && (type.errors?.required)">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.ERRORS.TYPE_REQUIRED' | translate }}
            </div>
          </div>
          <div class="mb-3">
            <label for="usedFor" class="form-label">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.USED_FOR_LABEL' | translate }}
            </label>
            <select id="usedFor" class="form-control" formControlName="usedFor" [ngClass]="{ 'is-invalid': (usedFor.touched || spendForm.submitted) && (usedFor.errors?.required)}">
                <ng-template [ngIf]="type.value === 'Daily'">
                    <option *ngFor="let option of dailyUsedForOptions" [value]="option">
                      {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.OPTIONS.' + option | uppercase | translate }}
                    </option>
                </ng-template>
                <ng-template [ngIf]="type.value === 'Monthly'">
                    <option *ngFor="let option of monthlyUsedForOptions" [value]="option">
                      {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.OPTIONS.' + option | uppercase | translate }}
                    </option>
                </ng-template>
            </select>
            <div class="text-danger" *ngIf="(usedFor.touched || spendForm.submitted) && (usedFor.errors?.required)">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.ERRORS.USED_FOR_REQUIRED' | translate }}
            </div>
          </div>
          <div class="mb-3">
              <input type="checkbox" id="isSpentAnotherDay" formControlName="isSpentAnotherDay">
              <label for="isSpentAnotherDay" class="form-label">
                &nbsp;&nbsp;{{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.SPENT_ANOTHER_DAY_LABEL' | translate }}
              </label>
          </div>
          <div class="mb-3" *ngIf="isSpentAnotherDay.value">
            <label for="spentAt" class="form-label">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.SPENT_AT_LABEL' | translate }}
            </label>
            <input type="date" id="spentAt" formControlName="spentAt" class="form-control">
          </div>
          <div class="mb-3">
              <input type="checkbox" id="addComment" formControlName="addComment">
              <label for="addComment" class="form-label">
                &nbsp;&nbsp;{{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.ADD_COMMENT_LABEL' | translate }}
              </label>
          </div>
          <div class="mb-3" *ngIf="addComment.value">
            <label for="comment" class="form-label">
              {{ 'SHARED_COMPONENTS.NEW_SPENDING_FORM.COMMENT_LABEL' | translate }}
            </label>
            <input type="text" id="comment" formControlName="comment" class="form-control">
          </div>
          <div class="d-flex justify-content-center my-5">
            <app-button
              tooltipText="SHARED_COMPONENTS.NEW_SPENDING_FORM.TOOLTIPS.ADD_SPENDING_BUTTON"
              buttonColor="primary"
              btnText="SHARED_COMPONENTS.NEW_SPENDING_FORM.ADD_SPENDING_BUTTON_TEXT"
              iconName="check"></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
  