<form [formGroup]="passwordForm" class="form" (ngSubmit)="onPasswordFormSubmit($event)" #pwForm="ngForm">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Old password:</label>
      <div class="pos-relative">
        <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword" required  toggleShowPassword #toggleShowPassword="toggleShowPassword"  />
        <div class="toggleShowPassword">
          <app-button
            buttonColor="primary"
            [tooltipText]="toggleShowPassword._shown ? 'Hide password' : 'Display password'"
            [iconName]="toggleShowPassword._shown ? 'eye-slash' : 'eye'"
            [buttonSize]="'normal'"
            (onClick)='toggleShowPassword.toggle($event)'></app-button>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New password:</label>
      <input id="newPassword" type="password" class="form-control" formControlName="newPassword" required  [ngClass]="{ 'is-invalid': (newPassword.touched || pwForm.submitted) && (newPassword.errors?.required || newPassword.errors?.invalidPassword || !arePasswordsTheSame())}" />  
      <div class="text-danger" *ngIf="(newPassword.touched || pwForm.submitted) && (newPassword.errors || !arePasswordsTheSame())">
        <p *ngIf="(newPassword.errors?.required || newPassword.errors?.invalidPassword)">
          Password must contain min. 8 characters and at least one number and one letter
        </p>
        <p *ngIf="!arePasswordsTheSame()">
          Passwords should be the same!
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="newPassword2" class="form-label">New password again:</label>
      <input id="newPassword2" class="form-control" formControlName="newPassword2" required  [ngClass]="{ 'is-invalid': (newPassword2.touched || pwForm.submitted) && (newPassword2.errors?.required || newPassword2.errors?.invalidPassword || !arePasswordsTheSame())}"/>
      <div class="text-danger" *ngIf="(newPassword2.touched || pwForm.submitted) && (newPassword2.errors || !arePasswordsTheSame())">
        <p *ngIf="(newPassword2.errors?.required || newPassword2.errors?.invalidPassword)">
          Password must contain min. 8 characters and at least one number and one letter
        </p>
        <p *ngIf="!arePasswordsTheSame()">
          Passwords should be the same!
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center my-5">
      <app-button tooltipText="Update password" buttonColor="primary" [btnText]="'Update'" [iconName]="'key'"></app-button>
    </div>
  </form>