<div class="row">
    <div class="col-4 text-center">
        <app-button 
            buttonSize="normal" 
            buttonColor="info" 
            iconName="angle-double-left"
            [tooltipText]="getPreviousMonth()"
            (onClick)="subtractOneMonth()">
        </app-button>
    </div>
    <div class="col-4 text-center">
        <h3>
            {{ "SHARED_COMPONENTS.MONTH_SWITCH.MONTHS." + getActualMonthText(actualMonth) | translate }}
        </h3>
    </div>
    <div class="col-4 text-center">
        <app-button 
            buttonSize="normal" 
            buttonColor="info" 
            iconName="angle-double-right"
            [tooltipText]="getNextMonth()"
            (onClick)="addOneMonth()">
        </app-button>
    </div>
</div>
