<div class="d-flex flex-column mt-5">
    <div>
        <h5>
            {{ displayedDate | date: 'yyyy-MM-dd'  }}
        </h5>
    <div>
    <div class="d-flex border-bottom border-secondary">
        <p class="flex-1 ps-2">
            #
        </p>
        <p class="flex-4">
            {{ 'SHARED_COMPONENTS.DAILY_VIEW.AMOUNT' | translate }}
        </p>
        <p class="flex-6">
            {{ 'SHARED_COMPONENTS.DAILY_VIEW.COMMENT' | translate }}
        </p>
        <p class="flex-2 d-flex justify-content-end">
            {{ 'SHARED_COMPONENTS.DAILY_VIEW.ACTIONS' | translate }}
        </p>
    </div>
    <ng-template [ngIf]="filteredTransactions.length > 0 && !isLoading">
        <div class="d-flex">
            <app-show-hide [componentName]="displayedDate + 'transactions'">
                <app-transaction-view *ngFor="let transaction of filteredTransactions; let i = index" [index]="i" [transaction]="transaction"></app-transaction-view>
            </app-show-hide>
        </div>
    </ng-template>
    <ng-template [ngIf]="filteredTransactions.length === 0 || isLoading">
        <spinner *ngIf="isLoading"></spinner>
        <div *ngIf="filteredTransactions.length === 0">
            <p class="p-2 mt-3">{{ 'SHARED_COMPONENTS.DAILY_VIEW.NO_DATA' | translate }}</p>
        </div>
    </ng-template>
    <div class="d-flex flex-column flex-lg-row border-top border-bottom pt-2 border-secondary">
        <h5 class="flex-1 text-center text-lg-left">{{ 'SHARED_COMPONENTS.DAILY_VIEW.SPENT' | translate }}&nbsp;</h5>
        <h5 class="flex-4 text-center text-lg-left">
            {{ getTotalForDay(filteredTransactions) | HufPipe }}
        </h5>
        <h5 class="flex-2 text-center text-lg-left">{{ 'SHARED_COMPONENTS.DAILY_VIEW.AVAILABLE' | translate }}&nbsp;</h5>
        <h5 class="flex-2 text-center text-lg-left">
          {{ getSpendableMoneyPerDay(
            incomes | async,
            transactions | async,
            daysInInterval | async,
            monthlySaving | async) | HufPipe
          }}
        </h5>
        <h5 class="flex-2 text-center text-lg-left">{{ 'SHARED_COMPONENTS.DAILY_VIEW.REMAINDER' | translate }}&nbsp;</h5>
        <h5 class="flex-2 text-center text-lg-left">
            {{ getSpendableMoneyPerDay(
                incomes | async,
                transactions | async,
                daysInInterval | async,
                monthlySaving | async) - 
               getTotalForDay(filteredTransactions) | HufPipe
            }}
    </h5>
    </div>
</div>