<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/login_pic.jpg" alt="login image" class="img-fluid" />
    </div>
    <div class="col-sm-12 col-md-6">
      <form class="form" name="form" #loginData="ngForm" (ngSubmit)="onFormSubmit(loginData.form)">
        <div class="mb-3">
          <label for="email" class="form-label">{{ 'LOGIN.EMAIL_LABEL' | translate }}</label>
          <input
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="loginForm.email"
            #email="ngModel"
            placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
            required
            [emailValidator]="email"
            [ngClass]="{ 'is-invalid': (email.touched || loginData.submitted) && (email.errors?.required || email.errors?.invalidEmail)}"
          />
          <div 
            class="text-danger py-3"
            *ngIf="(email.touched || loginData.submitted) &&
                   (email.errors?.required || email.errors?.invalidEmail)">
            {{ 'LOGIN.ERRORS.INVALID_EMAIL' | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">{{ 'LOGIN.PASSWORD_LABEL' | translate }}</label>
          <div class="pos-relative">
            <input 
              id="password"
              name="password"
              class="form-control"
              [(ngModel)]="loginForm.password"
              #password="ngModel"
              required
              toggleShowPassword
              #toggleShowPassword="toggleShowPassword"
              type="password"
              [passwordValidator]="password"
              [ngClass]="{ 
                'is-invalid': (password.touched || loginData.submitted) &&
                              (password.errors?.required || password.errors?.invalidEmail)}"
            />
            <div class="toggleShowPassword">
              <app-button
                [iconName]="toggleShowPassword._shown ? 'eye-slash' : 'eye'"
                [tooltipText]="!toggleShowPassword._shown ? 'LOGIN.TOOLTIPS.SHOW_PASSWORD' : 'LOGIN.TOOLTIPS.HIDE_PASSWORD'"
                [buttonSize]="'normal'"
                buttonColor="primary"
                (onClick)='toggleShowPassword.toggle($event)'></app-button>
            </div>
          </div>
          </div>
          <div class="text-danger py-3"
            *ngIf="(password.touched || loginData.submitted) &&
                   (password.errors?.required || password.errors?.invalidPassword)">
            {{ 'LOGIN.ERRORS.INVALID_PASSWORD' | translate }}
          </div>
          
          <div class="d-flex justify-content-center my-5">
            <app-button [btnText]="'LOGIN.LOGIN_BUTTON_TEXT'" [iconName]="'sign-in-alt'" buttonColor="primary"></app-button>
          </div>
          <div class="d-flex justify-content-center">
            <p>{{ 'LOGIN.REGISTRATION_LINK_PRETEXT' | translate }}&nbsp;
              <a routerLink='/registration' class="text-info">
                {{ 'LOGIN.REGISTRATION_LINK_TEXT' | translate }}
              </a>
            </p>
        </div>
      </form>
    </div>
  </div>
</div>