  <div *ngIf="!showSavingForm && monthlySaving" class="text-center m-3">
    {{ 'DASHBOARD.SAVING_FORM.SAVING_FOR_THIS_MONTH' | translate}}: {{ monthlySaving }} %
    <app-button
      buttonColor="primary"
      tooltipText="DASHBOARD.TOOLTIPS.EDIT_TOOLTIP"
      [iconName]="'pen'"
      buttonSize="small"
      btnText="DASHBOARD.SAVING_FORM.EDIT_BUTTON"
      (onClick)="switchShowSavingForm($event)">
    </app-button>
  </div>
  <div *ngIf="!monthlySaving || showSavingForm" class="m-5">
      <form [formGroup]="savingForm" class="form" (ngSubmit)="onSubmit()" #saveForm="ngForm">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-1">
              <label for="amount" class="form-label text-right">
                {{ 'DASHBOARD.SAVING_FORM.SAVING_LABEL' | translate}}
              </label>
            </div>
            <div class="col-12 col-lg-1">
              <input 
                id="amount"
                class="form-control"
                [ngClass]="{ 'is-invalid': (amount.touched || saveForm.submitted) && (amount.errors?.required)}"
                type="text"
                placeholder="5"
                formControlName="amount"
                required />
                <div class="text-danger" *ngIf="(amount.touched || saveForm.submitted) && (amount.errors?.required)">
                  {{ 'DASHBOARD.SAVING_FORM.REQUIRED_ERROR' | translate}}
                </div>
            </div>
            <div class="col-12 col-lg-2 m-2">
              <div class="row">
                <div class="col-6 text-center">
                  <app-button 
                    [tooltipText]="monthlySaving && showSavingForm ?
                      'DASHBOARD.TOOLTIPS.EDIT_SAVING' : 
                      'DASHBOARD.TOOLTIPS.ADD_SAVING'"
                    [btnText]="monthlySaving && showSavingForm ?
                      'DASHBOARD.SAVING_FORM.UPDATE' : 
                      'DASHBOARD.SAVING_FORM.ADD'"
                    [iconName]="'check'"
                    buttonColor="primary">
                  </app-button>
                </div>
                <div class="col-6 text-center">
                  <app-button 
                    tooltipText="DASHBOARD.TOOLTIPS.CANCEL_SAVING"
                    btnText="DASHBOARD.SAVING_FORM.CANCEL"
                    [iconName]="'check'"
                    (onClick)="switchShowSavingForm($event)"
                    buttonColor="dark"
                  >
                  </app-button>
                </div>
              </div>
            </div>
          </div>
        </form>
  </div>