  <div *ngIf="!showSavingForm && monthlySaving" class="text-center">
    Saving for this month: {{ monthlySaving }} %
    <app-button [iconName]="'pen'" btnText="Edit" (onClick)="switchShowSavingForm($event)"></app-button>
  </div>
  <div *ngIf="!monthlySaving || showSavingForm">
      <form [formGroup]="savingForm" class="form" (ngSubmit)="onSubmit()" #saveForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-1">
              <label for="amount" class="form-label text-right">Saving:</label>
            </div>
            <div class="col-1">
              <input id="amount" class="form-control"
                [ngClass]="{ 'is-invalid': (amount.touched || saveForm.submitted) && (amount.errors?.required)}" type="text"
                placeholder="5" formControlName="amount" required />
                <div class="text-danger" *ngIf="(amount.touched || saveForm.submitted) && (amount.errors?.required)">
                  Saving is required
                </div>
            </div>
            <div class="col-2">
              <div class="row">
                <div class="col-6">
                  <app-button 
                    [btnText]="monthlySaving && showSavingForm ? 'Update' : 'Add'"
                    [iconName]="'check'">
                  </app-button>
                </div>
                <div class="col-6">
                  <app-button 
                    btnText="Cancel"
                    [iconName]="'check'"
                    (onClick)="switchShowSavingForm($event)"
                    >
                  </app-button>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-5">
          </div>
        </form>
  </div>