<app-header></app-header>
<app-page>
    <div class="row">
        <div class="col-12">
            <app-month-switch></app-month-switch>
        </div>
        <div class="col-12">
            <app-saving-form></app-saving-form>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center">
                Incomes
            </h2>
            <div class="col-12">
                <div class="d-flex justify-content-center m-2">
                    <app-button 
                        [tooltipText]="!showAddNewIncomeForm ? 'Opens new income form' : 'Close new income form'"
                        [iconName]="!showAddNewIncomeForm ? 'plus' : 'minus'" 
                        [btnText]="!showAddNewIncomeForm ? 'Add Income' : 'Close Form'" 
                        (onClick)="changeShowAddNewIncomeForm()"
                        buttonColor="primary"
                        >
                    </app-button>
                </div>
                <app-new-income-form (closeForm)="closeAddIncomeForm($event)" *ngIf="showAddNewIncomeForm"></app-new-income-form>
                <app-incomes-table *ngIf="incomes | async" [incomes]="incomes | async"></app-incomes-table>
            </div>
            <h2 class="text-center mt-5">
                Monthly Spendings
            </h2>
            <div class="col-12">
                <div class="d-flex justify-content-center m-2">
                    <app-button 
                        [tooltipText]="!showAddNewTransactionForm ? 'Opens new spending form' : 'Close new spending form'"
                        [iconName]="!showAddNewTransactionForm ? 'plus' : 'minus'" 
                        [btnText]="!showAddNewTransactionForm ? 'Add Spending' : 'Close Form'" 
                        (onClick)="changeShowAddNewTransactionForm()"
                        buttonColor="dark"
                        textColor="white">
                    </app-button>
                </div>
                <app-new-spending-form (closeForm)="closeAddTransactionForm($event)" *ngIf="showAddNewTransactionForm"></app-new-spending-form>
                <app-monthly-spendings [transactions]="transactions"></app-monthly-spendings>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center">
                Daily spendings
            </h2>
            <div class="d-flex justify-content-around">
                <app-button tooltipText="Displays the selected month" btnText="Show month" buttonColor="primary" [isDisabled]="isMonthlyViewDisplayed" iconName="list" (onClick)="displayMonthlyView()"></app-button>
                <app-button tooltipText="Displays only the actual week" btnText="Show week" buttonColor="primary" [isDisabled]="!isMonthlyViewDisplayed" iconName="list" (onClick)="displayWeeklyView()" *ngIf="isInDisplayedMonth()"></app-button>
            </div>
            <app-actual-week [transactions]="transactions" [actualWeek]="getCurrentWeek()" *ngIf="isInDisplayedMonth() && !isMonthlyViewDisplayed"></app-actual-week>
            <app-monthly-transactions *ngIf="isMonthlyViewDisplayed" [transactions]="transactions"></app-monthly-transactions>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</app-page>