<div class="d-flex flex-column pt-5">
    <div>
        <h3>
            {{ categoryName }}
        </h3>
    <div>
    <div class="d-flex">
        <p class="flex-1">
            #
        </p>
        <p class="flex-4">
            Amount
        </p>
        <p class="flex-6">
            Comment
        </p>
        <p class="flex-2 d-flex justify-content-end">
            Actions
        </p>
    </div>
    <div class="d-flex">
        <app-show-hide [componentName]="categoryName">
            <app-transaction-view *ngFor="let transaction of transactions; let i = index" [index]="i" [transaction]="transaction"></app-transaction-view>
        </app-show-hide>
    </div>
    <div class="d-flex border-top border-bottom pt-2 border-secondary">
        <h5 class="flex-1">Total:&nbsp;</h5>
        <h5 class="flex-4">{{ total | HufPipe }}</h5>
        <p class="flex-6"></p>
        <p class="flex-2"></p>
    </div>
</div>

