<div class="d-flex flex-column">
    <div class="d-flex">
        <p class="flex-1 ps-2">
            #
        </p>
        <p class="flex-3">
            {{ 'DASHBOARD.INCOMES_TABLE.AMOUNT' | translate }}
        </p>
        <p class="flex-3">
            {{ 'DASHBOARD.INCOMES_TABLE.WHOSE' | translate }}
        </p>
        <p class="flex-6">
            {{ 'DASHBOARD.INCOMES_TABLE.COMMENT' | translate }}
        </p>
        <p class="flex-4 d-flex justify-content-end">
            {{ 'DASHBOARD.INCOMES_TABLE.ACTIONS' | translate }}
        </p>
    </div>
    <div *ngIf="!isLoading else spinner">
        <app-show-hide componentName="incomes-list">
            <div 
              class="d-flex pt-3"
              *ngFor="let record of incomes, let i = index"
              [ngClass]="{'bg-striped-light' : i % 2 === 0}">
                <p class="flex-1 ps-2">{{ i + 1 }}</p>
                <p class="flex-3">{{ record.amount | HufPipe }}</p>
                <p class="flex-3">{{ record.whose }}</p>
                <p class="flex-6" style="white-space: pre-line;">{{ record.comment }}</p>
                <p class="flex-4 d-flex justify-content-end">
                    <app-button buttonSize="small" iconName="pen" tooltipText="DASHBOARD.TOOLTIPS.EDIT_INCOME" buttonColor="primary"></app-button>
                    <app-button buttonSize="small" iconName="trash" tooltipText="DASHBOARD.TOOLTIPS.DELETE_INCOME" buttonColor="dark" (onClick)="deleteIncome(record._id)"></app-button>
                </p>
            </div>
        </app-show-hide>
        <div class="d-flex border-top border-bottom pt-2 border-secondary">
            <h5 class="flex-1">{{ 'DASHBOARD.INCOMES_TABLE.TOTAL' | translate }}:&nbsp;</h5>
            <h5 class="flex-4">{{ total | HufPipe }}</h5>
            <p class="flex-6"></p>
            <p class="flex-2"></p>
        </div>
    </div>
    <ng-template #spinner>
        <spinner></spinner>
    </ng-template>
</div>