<div class="d-flex flex-column border border-secondary mt-5">
    <div class="d-flex p-3">
        <p class="flex-1">
            #
        </p>
        <p class="flex-3">
            {{ 'DASHBOARD.INCOMES_TABLE.AMOUNT' | translate }}
        </p>
        <p class="flex-3">
            {{ 'DASHBOARD.INCOMES_TABLE.WHOSE' | translate }}
        </p>
        <p class="flex-6">
            {{ 'DASHBOARD.INCOMES_TABLE.COMMENT' | translate }}
        </p>
        <p class="flex-4 d-flex justify-content-end">
            {{ 'DASHBOARD.INCOMES_TABLE.ACTIONS' | translate }}
        </p>
    </div>
    <div *ngIf="!(isLoading | async) else spinner">
        <app-show-hide componentName="incomes-list">
            <div 
              class="d-flex p-3"
              *ngFor="let record of incomes, let i = index"
              [ngClass]="{'bg-striped-light' : i % 2 === 0}">
                <p class="flex-1">{{ i + 1 }}</p>
                <p class="flex-3">{{ record.amount | HufPipe }}</p>
                <p class="flex-3">{{ record.whose }}</p>
                <p class="flex-6" style="white-space: pre-line;">{{ record.comment }}</p>
                <p class="flex-4 d-flex justify-content-end">
                    <app-button 
                      buttonSize="small"
                      iconName="pen"
                      tooltipText="DASHBOARD.TOOLTIPS.EDIT_INCOME"
                      buttonColor="primary"
                      (onClick)="redirectToEditPage(record._id)">
                    </app-button>
                    <app-button
                      buttonSize="small"
                      iconName="trash"
                      tooltipText="DASHBOARD.TOOLTIPS.DELETE_INCOME"
                      buttonColor="dark"
                      (onClick)="deleteIncome(record._id)">
                    </app-button>
                </p>
            </div>
        </app-show-hide>
        <div class="d-flex border-top border-bottom p-3 border-secondary bg-striped-light">
            <h5 class="flex-1">{{ 'DASHBOARD.INCOMES_TABLE.TOTAL' | translate }}:&nbsp;</h5>
            <h5 class="flex-4">{{ total | HufPipe }}</h5>
            <p class="flex-6"></p>
            <p class="flex-2"></p>
        </div>
    </div>
    <ng-template #spinner>
        <spinner></spinner>
    </ng-template>
</div>