<form
  [formGroup]="newGroupForm"
  class="form"
  (ngSubmit)="onSubmit($event)"
  #groupForm="ngForm"
>
  <div class="mb-3">
    <label 
      for="name"
      class="form-label"
    >
      {{ 'PROFILE.CREATE_GROUP_FORM.GROUP_NAME_LABEL' | translate }}
    </label>
    <input 
      id="name"
      class="form-control"
      [ngClass]="{'is-invalid': (name.touched || groupForm.submitted) && (name.errors?.required)}"
      type="text"
      placeholder="{{ 'PROFILE.CREATE_GROUP_FORM.GROUP_NAME_PLACEHOLDER' | translate }}"
      formControlName="name"
      required
    />
    <div class="text-danger" *ngIf="(name.touched || groupForm.submitted) && (name.errors?.required)">
      {{ 'PROFILE.ERRORS.GROUP_NAME_REQUIRED' | translate }}
    </div>
  </div>
  <div class="d-flex justify-content-center my-5">
    <app-button
      btnText="PROFILE.CREATE_GROUP_FORM.CREATE_BUTTON"
      tooltipText="PROFILE.TOOLTIPS.CREATE_BUTTON"
      iconName="key"
      buttonColor="primary">
    </app-button>
  </div>
</form>