
    <th>
        {{ index + 1 }}
    </th>
    <td [ngClass]="{'text-decoration-line-through': transaction.isPaid && transaction.type === 'Monthly'}">
        {{ transaction.amount | HufPipe}}
    </td>
    <td [ngClass]="{'text-decoration-line-through': transaction.isPaid && transaction.type === 'Monthly'}">
        <p *ngIf="transaction.comment else noComment">{{ transaction.comment }}</p>
        <ng-template #noComment>
            -
        </ng-template>
    </td>
    <td *ngIf="isToday">
        <app-button [iconName]="'pen'" [buttonSize]="'small'" ></app-button>
        <app-button [iconName]="'trash'" [buttonSize]="'small'" (onClick)="onDelete(transaction._id)"></app-button>
        <app-button [iconName]="'list'" [buttonSize]="'small'"></app-button>
        <ng-template [ngIf]="!transaction.isPaid && transaction.type === 'Monthly'">
            <app-button [iconName]="'check'" [buttonSize]="'small'" (onClick)="updateTransaction(transaction)"></app-button>
        </ng-template>
    </td>

