<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/login_pic.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-sm-12 col-md-6">
      <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)" #regForm="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">{{ 'REGISTRATION.NAME_LABEL' | translate}}</label>
          <input id="name" class="form-control"
            [ngClass]="{ 'is-invalid': (name.touched || regForm.submitted) && (name.errors?.required)}" type="text"
            placeholder="{{ 'REGISTRATION.NAME_PLACEHOLDER' | translate }}" formControlName="name" required />
          <div class="text-danger" *ngIf="(name.touched || regForm.submitted) && (name.errors?.required)">
            {{ 'REGISTRATION.ERRORS.NAME_REQUIRED' | translate}}
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">{{ 'REGISTRATION.EMAIL_LABEL' | translate}}</label>
          <input 
            id="email"
            class="form-control"
            type="text"
            [ngClass]="{
              'is-invalid': (email.touched || regForm.submitted) && 
                            (email.errors?.required || email.errors?.invalidPassword)}"
            placeholder="{{ 'REGISTRATION.EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email" />
          <div class="text-danger"
            *ngIf="(email.touched || regForm.submitted) && 
                   (email.errors?.required || email.errors?.invalidPassword)">
            {{ 'REGISTRATION.ERRORS.INVALID_EMAIL' | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">{{ 'REGISTRATION.PASSWORD_LABEL' | translate }}</label>
          <div class="pos-relative">
            <input 
              id="password"
              class="form-control"
              type="password"
              toggleShowPassword
              #toggleShowPassword="toggleShowPassword"
              [ngClass]="{ 
                'is-invalid': (password.touched || regForm.submitted) && 
                              (password.errors?.required || password.errors?.invalidPassword)}"
              formControlName="password" />
            <div class="toggleShowPassword">
              <app-button 
                [tooltipText]="!toggleShowPassword._shown ?
                  'REGISTRATION.TOOLTIPS.SHOW_PASSWORD' : 
                  'REGISTRATION.TOOLTIPS.HIDE_PASSWORD'"
                [iconName]="toggleShowPassword._shown ? 'eye-slash' : 'eye'"
                [buttonSize]="'normal'"
                buttonColor="primary"
                (onClick)='toggleShowPassword.toggle($event)'></app-button>
            </div>
          </div>
          <div class="text-danger"
            *ngIf="(password.touched || regForm.submitted) && (password.errors?.required || password.errors?.invalidPassword)">
            {{ 'REGISTRATION.ERRORS.INVALID_PASSWORD' | translate }}
          </div>
          </div>
          <div class="d-flex justify-content-center my-5">
            <app-button buttonColor="primary" [btnText]="'REGISTRATION.REGISTRATION_BUTTON_TEXT'" [iconName]="'key'"></app-button>
          </div>
          <div class="d-flex justify-content-center">
            <p>{{ 'REGISTRATION.LOGIN_LINK_PRETEXT' | translate }}&nbsp;
              <a href="/login" class="text-info">
                {{ 'REGISTRATION.LOGIN_LINK_TEXT' | translate }}
              </a>
            </p>
        </div>
      </form>
    </div>
  </div>
</div>
