<div class="container">
    <div class="row">
        <form class="form" name="form" #sForm="ngForm" (ngSubmit)="onFormSubmit(sForm.form)">
            <div class="row my-3">
                <div class="col-8">
                    <input id="searchString" name="searchString" class="form-control"
                        [(ngModel)]="searchForm.searchString" #search="ngModel"
                        [placeholder]="placeholder ? placeholder : ''" />
                </div>
                <div class="col-2" *ngIf="filterOptions.length > 0">
                <select class="form-control" [(ngModel)]="searchForm.filter" #filter="ngModel" id="filter" name="filter" >
                    <option *ngFor="let option of filterOptions; let i = index" [ngValue]="option.filter">{{option.name}}</option>
                </select>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <app-button [btnText]="'Search'" [iconName]="'search'" [buttonSize]="'normal'"></app-button>
                </div>
            </div>
        </form>
    </div>
</div>